<div class="headerBackground" id="headerBackground">
    <div id="navbar" class="navbar">
        <svg id="mainLogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1025.28 414">
            <title>Claude Sortwell</title>
            <path
                d="M161.45,110.24q13.76,11.27,17.29,31.16H140.06a15,15,0,0,0-4.75-8.28,13.29,13.29,0,0,0-8.83-2.88,12.92,12.92,0,0,0-10.88,5.67q-4.18,5.68-4.19,16.46,0,11,4.19,16.56a13,13,0,0,0,10.88,5.58,13.24,13.24,0,0,0,8.83-2.89,15,15,0,0,0,4.75-8.27h38.68q-3.53,19.91-17.3,31.24t-34,11.35q-15.63,0-27.62-6.42a45.35,45.35,0,0,1-18.7-18.6q-6.69-12.18-6.69-28.55t6.69-28.46a45.44,45.44,0,0,1,18.79-18.5A57.8,57.8,0,0,1,127.41,99Q147.67,99,161.45,110.24Z" />
            <path d="M230.08,67V204.64H193.43V67Z" />
            <path
                d="M308.11,103.73a29.26,29.26,0,0,1,12,13.12V100.29h36.46V204.64H320.1V188.08a29.18,29.18,0,0,1-12,13.12A37,37,0,0,1,289,205.94a40.92,40.92,0,0,1-22.51-6.42q-10-6.41-15.81-18.6T245,152.37q0-16.37,5.77-28.46a43.46,43.46,0,0,1,15.81-18.5A40.87,40.87,0,0,1,289,99,37.06,37.06,0,0,1,308.11,103.73Zm-20.84,32.93q-5.29,5.67-5.3,15.71,0,10.23,5.3,15.91T301.13,174a17.81,17.81,0,0,0,13.58-5.77q5.39-5.76,5.39-15.81,0-9.85-5.39-15.62A17.83,17.83,0,0,0,301.13,131Q292.58,131,287.27,136.66Z" />
            <path
                d="M483.78,100.29V204.64H447.32V187.15a33.79,33.79,0,0,1-13,13.4,39,39,0,0,1-20.09,5q-18,0-28.36-12t-10.32-32.83V100.29H412v56q0,8.92,4.75,14t12.74,5.12q8.17,0,13-5.21t4.83-14.7V100.29Z" />
            <path
                d="M561.71,103.73a29.48,29.48,0,0,1,11.91,13.12V67h36.64V204.64H573.62V188.08a29.43,29.43,0,0,1-11.91,13.12q-8,4.74-19,4.74a40.92,40.92,0,0,1-22.51-6.42q-10-6.41-15.81-18.6t-5.76-28.55q0-16.37,5.77-28.46a43.46,43.46,0,0,1,15.81-18.5A40.87,40.87,0,0,1,542.74,99Q553.72,99,561.71,103.73ZM541,136.66q-5.29,5.67-5.3,15.71,0,10.23,5.3,15.91T554.83,174a17.79,17.79,0,0,0,13.58-5.77q5.39-5.76,5.39-15.81,0-9.85-5.39-15.62A17.83,17.83,0,0,0,554.83,131Q546.28,131,541,136.66Z" />
            <path
                d="M729.67,159.07h-69q.93,17.67,15.44,17.67a14.65,14.65,0,0,0,8.93-2.61,13,13,0,0,0,4.83-6.88h38.69a44.21,44.21,0,0,1-9.11,19.81,49,49,0,0,1-17.86,13.86,55.25,55.25,0,0,1-23.62,5q-15.63,0-27.62-6.42a45.35,45.35,0,0,1-18.7-18.6q-6.69-12.18-6.69-28.55t6.7-28.46a45.36,45.36,0,0,1,18.78-18.5A57.8,57.8,0,0,1,678,99q15.63,0,27.53,6.32a45.2,45.2,0,0,1,18.51,18q6.6,11.71,6.6,27.15A43.86,43.86,0,0,1,729.67,159.07Zm-40.55-27.34a15.9,15.9,0,0,0-11.16-4.1q-7.25,0-11.81,4.1t-5.3,12.09H693.4Q693.58,135.83,689.12,131.73Z" />
            <path
                d="M245,243.29q12.27,10.05,15.44,26.6H226.2a13.45,13.45,0,0,0-5.3-8.37,16.64,16.64,0,0,0-9.76-2.79q-4.09,0-6.23,1.76a6,6,0,0,0-2.14,4.93c0,2.61,1.51,4.56,4.55,5.86a98.48,98.48,0,0,0,15,4.37,145.19,145.19,0,0,1,20,5.58,34.12,34.12,0,0,1,13.77,9.68q5.85,6.69,5.85,18a27.23,27.23,0,0,1-5,16.18q-5,7.06-14.6,11.07t-22.6,4q-21.94,0-35-9.49t-15.81-27.16h35.16a11.43,11.43,0,0,0,4.93,8.56,18.55,18.55,0,0,0,10.51,2.79q4.28,0,6.51-1.86a6,6,0,0,0,2.23-4.84q0-4.45-4.74-6.51t-15.16-4.09a129.14,129.14,0,0,1-19.53-5.3,33.2,33.2,0,0,1-13.3-9.3q-5.69-6.42-5.68-17.76a28.39,28.39,0,0,1,11-23.07q11-8.92,31.25-8.92Q232.71,233.25,245,243.29Z" />
            <path
                d="M355.19,239.66a47.25,47.25,0,0,1,19.44,18.6q7.06,12.19,7.07,28.37,0,16.37-7.07,28.46a48,48,0,0,1-19.44,18.6,63.64,63.64,0,0,1-56.08,0,47.81,47.81,0,0,1-19.53-18.6q-7.06-12.09-7.07-28.46t7.07-28.46a47.21,47.21,0,0,1,19.53-18.51,64.53,64.53,0,0,1,56.08,0Zm-40.64,30.79q-5,5.58-5,16.18,0,10.78,5,16.37a16.29,16.29,0,0,0,12.65,5.58,16,16,0,0,0,12.46-5.68q5-5.67,5-16.27t-5-16.18a16.09,16.09,0,0,0-12.46-5.58A16.29,16.29,0,0,0,314.55,270.45Z" />
            <path
                d="M448.47,239.2a37.7,37.7,0,0,1,19.71-5.58v39.06h-10.6q-12.27,0-18.41,4.74T433,293.88v45H396.39V234.55H433v19.53A47.77,47.77,0,0,1,448.47,239.2Z" />
            <path
                d="M542.4,307.65v31.24H527.33q-19.16,0-30-9.48T486.6,298V265.05H473.21v-30.5H486.6v-25.3h36.64v25.3H542v30.5H523.24v33.67c0,3.22.71,5.52,2.14,6.88s3.81,2,7.16,2Z" />
            <path
                d="M714.82,234.55,689,338.89H648L632.23,274l-16.18,64.91H575L549.46,234.55h36.27l11.35,69.75,16.37-69.75h38.87l17.11,70.31L681,234.55Z" />
            <path
                d="M824.18,293.32h-69Q756.11,311,770.62,311a14.6,14.6,0,0,0,8.92-2.6,13,13,0,0,0,4.84-6.88h38.69A44.22,44.22,0,0,1,814,321.32a48.79,48.79,0,0,1-17.85,13.85,55.26,55.26,0,0,1-23.62,5q-15.63,0-27.62-6.42a45.47,45.47,0,0,1-18.7-18.6q-6.69-12.18-6.69-28.55t6.69-28.46A45.47,45.47,0,0,1,745,239.66q12.09-6.42,27.53-6.41,15.62,0,27.52,6.32a45.11,45.11,0,0,1,18.51,18q6.6,11.72,6.6,27.16A43.77,43.77,0,0,1,824.18,293.32ZM783.64,266a15.94,15.94,0,0,0-11.16-4.09q-7.26,0-11.81,4.09t-5.31,12.09h32.55Q788.11,270.08,783.64,266Z" />
            <path d="M876.45,209V338.89H840V209Z" />
            <path d="M933.37,209V338.89H897V209Z" />
        </svg>

        <div id="navOptions" class="navOptions">
            <li><a id="navLink" class="navA" href="#projectPart">Portfolio</a></li>
            <li><a id="navLink1" class="navA" href="mailto:claude@claudesort.com.au">Contact</a></li>
            <li>
                <a id="navLink2" class="navA" href="/pdf/Resume Doc.pdf" download><i class="mdi mdi-download"></i>
                    Download Resume
                </a>
            </li>
            <li id="darkModeOption">
                <i class="mdi mdi-weather-night"></i>
                <label class="switch">
                    <input onclick="darkMode();" id="test123" type="checkbox" />
                    <span class="slider round"></span>
                </label>
                <i class="mdi mdi-weather-sunny"></i>
            </li>
        </div>
    </div>

    <div id="header" class="header">
        <h2 class="headerTitle">
            I build
            <span style="color: #05e69e;">software, experiences and web applications</span>
            with experience and passion.
        </h2>
        <hr />

        <div class="headerBottomLeft">
            <h2 style="font-size: 24px;margin-right: 0px;">
                Software engineer based in Sydney.
            </h2>
        </div>

        <div class="headerBottomRight">
            <p>Visit my profiles on Github, LinkedIn and Codepen.</p>
            <a href="https://github.com/claudesortwell"><i id="icon1" class="headerIcon mdi mdi-github-circle"></i></a>
            <a href="https://codepen.io/claudesort"><i id="icon3" class="headerIcon mdi mdi-codepen"></i></a>
            <a href="https://www.linkedin.com/in/claude-sortwell-537965198/"><i id="icon2"
                    class="headerIcon mdi mdi-linkedin"></i></a>
        </div>

        <Br /><br />

        <div style="text-align: center;z-index: 50;position: relative;">
            <a href="#projectPart" id="projectLink" class="headerProjectLink"><i class="mdi mdi-arrow-down-bold-box"
                    style="font-size: 18px;margin-right: 10px;padding: 0;"></i>View My Projects</a>
        </div>
    </div>
</div>
<div id="projectPart" class="projectPart">
    <p>Various projects I have built</p>
    <H1 style="font-size: 58px;font-weight: 600;margin-top: 5px;margin-bottom: 0;">Projects</H1><br />
    <% if(projects != null) { %> <% var index = 0 %> <% projects.forEach(function(projects) { %>
    <div id="projectCard" class="projectCard">
        <img src="/img/<%= projects.projectName %>.jpg" alt=""">
    <div class=" projectCardTextArea">
        <h2><%= projects.projectName %></h2>
        <p style="color: #6d6d6deb;font-weight: 600;font-family: 'Montserrat', sans-serif;">
            <%= projects.projectPlatform %></p>
        <h6>Built with <%= projects.projectStack %></h6>
        <button onClick="document.getElementById('<%= projects.projectName %>').scrollIntoView();">
            <i class="mdi mdi-arrow-down-bold"
                style="font-size: 20px;top: 2px;margin-right: 5px;position: relative;"></i>
            <span style="top: -1.5px;position: relative;">View More</span>
        </button>
    </div>
</div>
<% index ++ %> <% }); %> <% } %>
</div>

<% if(projects != null) { %> <% var index = 0 %> <% projects.forEach(function(projects) { %>
<div id="<%= projects.projectName %>" class="projectSection">
    <div class="projectSectionText">
        <h6 class="projectTextParts"><%= projects.projectStartDate %></h6>
        <img src="/img/logo/<%= projects.projectName %>.png" alt="">
        <p class="projectTextParts"><%= projects.projectPlatform %></p>
        <h3><%= projects.projectName %></h3>
        <p class="projectTextParts"><%= projects.projectDesc %></p>
        <a href="<%= projects.projectGithubLink %>" target="_blank"><i class="mdi mdi-github-circle"></i> Open
            Github</a>
        <% if(projects.projectLiveLink != 'null') { %><a href="<%= projects.projectLiveLink %>" target="_blank"><i
                class="mdi mdi-open-in-new"></i> View Live
            Version</a>
        <% } %>
    </div>

    <img class="projectDemoPic" src="/img/<%= projects.projectName %>.jpg" alt="">
</div>
<% index ++ %> <% }); %> <% } %>

<div class="footer">
    <span style="margin-right: 30px;">Claude Sortwell - <i class="mdi mdi-copyright"></i> 2020 </span>
    |
    <span style="margin-left: 20px;">
        <a class="navA footerButton" href="#navbar">Home</a>
        <a class="navA footerButton" href="#projectPart">Portfolio</a>
        <a class="navA footerButton" href="mailto:claude@claudesort.com.au">Contact - Email claude@claudesort.com.au</a>
        <a class="navA footerButton" href="/pdf/Resume Doc.pdf" download><i class="mdi mdi-download"></i>
            Download Resume
        </a>
    </span>
</div>

<script>
    $(document).ready(function () {
        $(".projectSection").toggleClass(function (index, currentclass) {
            if (index % 2 == 0) {
                return "projectSectionBgEven";
            } else {
                return "projectSectionBgOdd";
            }
        });
    });
</script>